.admin-container {
    display: flex;
    margin: auto;
    margin-left: 250px;
}

.service-container {
    display: flex;
    margin-left: 16.5%;
    margin-top: 0%;
    width: 80%;
    height: 100%;
}

.create-employee-container,
.edit-employee-container {
    max-width: 800px;
    margin-left: 36%;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.create-employee-container .form-group,
.edit-employee-container .form-group {
    margin-bottom: 20px;
}

.create-employee-container .form-group label,
.edit-employee-container .form-group label {
    font-weight: bold;
}

.create-employee-container .form-control,
.edit-employee-container .form-control {
    margin-top: 5px;
}

.create-employee-container .btn,
.edit-employee-container .btn {
    margin-top: 15px;
    padding: 10px 20px;
}

.create-employee-container .alert,
.edit-employee-container .alert {
    margin-bottom: 20px;
}

.employee-form-image {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.left-panel {
    width: 300px;
    padding: 20px;
    border-right: 1px solid #dddddd;
}

img#productImage {
    width: 100%;
    height: 210px;
    border: solid 1px;
    background-color: #00334E;
}

#productName {
    font-weight: bolder;
    font-size: 25px;
}

#productStock {
    margin-top: 10px;
    margin-bottom: 1rem;
    color: white;
    background-color: #ee6f57;
    border-radius: 10px;
}

.right-panel {
    width: 100%;
    padding: 20px;
}

tbody td {
    padding: 8px 10px;
    height: 50px;
}

tbody td img{
    border-radius: 20%;
    padding: 5px;
}

.employee-image {
    max-width: 100%;
    height: auto;
    border: solid 1px;
    background-color: #00334E;;
}
#employeePosition{
    margin-top: 10px;
    margin-bottom: 1rem;
    color: white;
    background-color: #ee6f57;
    border-radius: 10px;
}

#employeeName{
    font-weight: bolder;
    font-size: 25px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #3f6f9e;
    text-align: left;
    list-style: none;
    background-color: #9c9797;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
    transform: translateX(-90px);
}

.dropdown-menu.show {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    transform: translateY(-100%);
}

.table-responsive {
    overflow-x: hidden;
}
.status-verified::before {
    content: '\f00c';
    font-family: 'Font Awesome 5 Free';
    color: green;
    font-weight: 900;
    display: inline-block;
    width: 1em;
}
.status-pending::before {
    content: '\f110';
    font-family: 'Font Awesome 5 Free';
    color: red;
    font-weight: 900;
    display: inline-block;
    width: 1em;
}
.selected {
    background-color: #EE6F57 !important;
}

/* 
---------------------------------------
TABLE METHODS
---------------------------------------
*/

.table-methods{
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
    font-size: 13px;
}

.table-methods a.btn.btn-primary {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #00334E;
    padding: 5px;
    text-align: center;
    height: 35px;
    width: 150px;
    font-weight: 500;
    color: #dddddd;
    background-color: #00334E;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

.table-methods a.btn.btn-primary i {
    margin-right: 5px;
}


.table-methods button.btn-info.btn.btn-primary{
    border: 1px solid #00334E;
    padding: 5px;
    height: 35px;
}

.table-methods input#info-upload-button{
    border: 1px solid #00334E;
    padding: 5px;
    height: 35px;
}

.button-container {
    display: flex;
    margin-top: 10px;
}

#product-edit,
#product-delete {
    flex: 1;
    display: inline-block;
    padding: 10px 5px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    transition: background-color 0.3s, color 0.3s;
    border: 1px solid transparent;
}

#product-edit {
    background-color: #00334E;
    border-color: #00334E;
    width: 70px;
}

#product-edit i, #product-delete i{
    color: rgb(255, 255, 255);
}

#product-edit:hover {
    background-color: #025381;
    border-color:  #025381;
}

#product-delete {
    background-color:  #EE6F57;
    border-color:  #EE6F57;
}

#product-delete:hover {
    background-color:  #d4644e;
    border-color: #d4644e;
}

.service-row{
    margin-top: 0rem !important;
    margin-bottom: 3rem !important;
}


/* 
---------------------------------------
TABLE ICON
---------------------------------------
*/

.table-methods form button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #00334E;
    padding: 5px;
    text-align: center;
    margin-right: 40%;
    height: 35px;
    width: 150px;
    font-weight: 500;
    color: #dddddd;
    background-color: #00334E;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    text-decoration: none;
}


.table-methods i{
    font-size: 16px;
    color: #fff;
}

.table-methods form i{
    font-size: 16px;
    color: #fff;
    margin-right: 5px;
}

/* 
---------------------------------------
ACTUAL TABLE
---------------------------------------
*/

.table-responsive thead tr th{
    background-color: #00334E;
    color: #fff;
}