.admin-container {
    display: flex;
    margin: auto;
    margin-left: 250px;
}

.left-panel {
    width: 300px;
    padding: 20px;
    border-right: 1px solid #dddddd;
}

img#productImage {
    width: 200px;
    height: auto;
}


.right-panel {
    width: 100%;
    padding: 20px;
}

tbody td {
    padding: 8px 10px;
    height: 50px;
}

tbody td img{
    border-radius: 20%;
    padding: 5px;
}

.employee-image {
    max-width: 100%;
    height: auto;
    border: solid 1px;
    background-color: #00334E;;
}
#employeePosition{
    margin-top: 10px;
    margin-bottom: 1rem;
    color: white;
    background-color: #ee6f57;
    border-radius: 10px;
}

#employeeName{
    font-weight: bolder;
    font-size: 25px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #3f6f9e;
    text-align: left;
    list-style: none;
    background-color: #9c9797;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
    transform: translateX(-90px);
}

.dropdown-menu.show {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    transform: translateY(-100%);
}

.table-responsive {
    overflow-x: hidden;
}
.status-verified::before {
    content: '\f00c';
    font-family: 'Font Awesome 5 Free';
    color: green;
    font-weight: 900;
    display: inline-block;
    width: 1em;
}
.status-pending::before {
    content: '\f110';
    font-family: 'Font Awesome 5 Free';
    color: red;
    font-weight: 900;
    display: inline-block;
    width: 1em;
}
.selected {
    background-color: #EE6F57 !important;
}

/* 
---------------------------------------
TABLE METHODS
---------------------------------------
*/

.table-methods{
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
    font-size: 13px;
}

.table-methods a.btn.btn-primary {
    display: flex; /* Use flexbox */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    border: 1px solid #00334E;
    padding: 5px;
    text-align: center;
    height: 35px;
    width: 150px;
    font-weight: 500;
    color: #dddddd;
    background-color: #00334E;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    text-decoration: none; /* Ensure there's no underline on the link */
}

.table-methods a.btn.btn-primary i {
    margin-right: 5px; /* Add some space between the icon and text */
}


.table-methods button.btn-info.btn.btn-primary{
    border: 1px solid #00334E;
    padding: 5px;
    height: 35px;
}

.table-methods input#info-upload-button{
    border: 1px solid #00334E;
    padding: 5px;
    height: 35px;
}

/* 
---------------------------------------
TABLE ICON
---------------------------------------
*/

.table-methods form button {
    display: flex; /* Use flexbox */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    border: 1px solid #00334E;
    padding: 5px;
    text-align: center;
    margin-right: 40%;
    height: 35px;
    width: 150px;
    font-weight: 500;
    color: #dddddd;
    background-color: #00334E;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    text-decoration: none; /* Ensure there's no underline on the link */
}


.table-methods i{
    font-size: 16px;
    color: #fff;
}

.table-methods form i{
    font-size: 16px;
    color: #fff;
    margin-right: 5px;
}

/* 
---------------------------------------
ACTUAL TABLE
---------------------------------------
*/

.table-responsive thead tr th{
    background-color: #00334E;
    color: #fff;
}