/* PRODUCT SHOP DISPLAY ================================================= */

.productImageContainer {
    position: relative;
    width: 100%;
    height: 250px; /* Ensure the height is fixed */
    overflow: hidden;
}

.productImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 1s;
}

.productImage.hidden {
    opacity: 0;
    z-index: 0;
}

.productImage.active {
    opacity: 1;
    z-index: 1;
}

.shop-container{
    padding: 5%;
}

.product-shop .products {
    margin-top: 130px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    margin-left: 15%;
    margin-right: 15%;
}

.product-shop .row {
    width: 280px;
    margin: 10px;
    border: 3px solid #00334E ;
    transition: all 0.1s ease;
    z-index: 999;
    padding: 5px;
    display: flex; 
    flex-direction: column; 
}

.product-shop .row h3 {
    width: 100%;
    font-size: 15px;
    padding: 7px;
    text-align: center;
    background-color: #00334E ;
    color: #fff;
    margin-bottom: 5px;
}

.product-shop .row:hover {
    scale: 98%;
    border: 5px solid #00334E;
}

.product-shop .product-info {
    padding: 7px;
    margin-bottom: 5px;
}

.price-container{
    font-size: 20px;
    font-weight: bold;
    color: #ee6f57;
    margin-bottom: 0;
}

/* PRODUCTS HOVER ================================================= */

.itemDetails {
    position: relative;
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 10px;
    transition: transform 0.3s ease;
}

.itemDetails:hover {
    transform: scale(1.05);
}

.itemImage {
    width: 100%;
    height: 250px;
}

#productImageModal {
    width: 180px;
    height: 160px;
}

.hoverDetails {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    z-index: 1000;
    border-radius: 10px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.itemDetails:hover .hoverDetails {
    display: flex;
}

.hoverDetails p {
    margin: 20px 0;
    font-size: 14px;
    color: white;
    text-align: left;
}

.addToCart {
    background-color: #EE6F57;
    border: none;
    border-radius: 20px;
    padding: 7px 14px;
    color: white;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}

.addToCart:hover {
    background-color: #b35643;
}

.viewReview {
    background-color: #acadad;
    border: none;
    border-radius: 20px;
    width: 40px;
    padding: 11px;
    color: white;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;    
}

.viewReview:hover {
    background-color: #868484;
}

.hoverDetails .fa-arrow-right {
    font-size: 15px;
    color: white;
}

.hoverDetails .fa-cart-plus {
    margin-right: 10px;
    color: white;
}

/* CART MODAL */

.modal-body-cart {
    display: flex;
    align-items: flex-start;
    margin-top: 10px;
}

.modal-body-cart .col-md-4-cart {
    flex: 0 0 auto;
    margin-right: 20px;
}

.modal-body-cart .col-md-8-cart {
    flex: 1 1 auto;
}

.modal-body-cart h4, .modal-body-cart p, .modal-body-cart .form-group-cart {
    margin: 10px 0;
    font-size: 17px;
}

.modal-footer-cart {
    display: flex;
    justify-content: flex-end;
}

.modal-footer-cart .btn {
    margin-left: 10px;
}

.row-cart {
    display: flex;
    align-items: center;
}

.col-md-4-cart, .col-md-8-cart {
    flex: 0 0 auto;
}

.col-md-4-cart img {
    width: 100%;
    height: auto;
}

.col-md-8-cart {
    display: flex;
    flex-direction: column;
}

.form-group-cart, .modal-body-cart > div {
    margin-bottom: 1rem;
}

#productPriceModal{
    font-weight: bold;
    color: #ee6f57;
}

.quantityP{
    font-weight: bold;
}

.form-control-cart{
    width: 55%;
    padding: .20rem;
    border-radius: 10px;
    font-size: 15px;
}

.add-to-cart-price{
    font-weight: bold;
}

.add-to-cart-price p, .add-to-cart-price span{
    font-weight: bold;
    color: #ee6f57;
    font-size: 20px;
}

/* CART SIDEBAR ================================================= */
.cart-sidebar {
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #333;
    padding: 10px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    z-index: 1000;
    transition: left 0.3s ease-in-out;
}

.cart-icon:active {
    color: #b35643;
}

.cart-icon {
    color: #fff;
    font-size: 20px;
}

.cart-container {
    position: fixed;
    left: -350px;
    top: 0;
    width: 350px;
    height: 100%;
    background-color: #e5e5e5;
    transition: left 0.3s ease-in-out;
    overflow-y: auto;
    z-index: 1000;
}

.cart-container.active {
    left: 0;
}

.cart-container.active ~ .cart-sidebar {
    left: 350px;
}

.cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #002f47;
    color: white;
}

.cart-header h2 {
    margin: 0;
    color: white;
}

.close-cart {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: #c5c5c5;
    font-size: 20px;
    cursor: pointer;
    background-color: #858484;
    padding-left: 10px;
    padding-right: 10px;
}

.close-cart:hover {
    background-color: #acacac;
    color: white;
}

.cart-controls{
    margin: auto;
    padding: 10px;
    border-bottom: 5px solid #ccc;
}

.delete-selected{
    border: none;
    margin-left: 55%;
    background-color: #e5e5e5;
}

.cart-items {
    padding: 10px;
}

.cart-item-row {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 5px solid #ccc;
}

.cart-item-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 10px;
}

.itemImage {
    position: relative;
    width: 100%;
    height: auto;
}

.productImage {
    width: 100%;
    height: 100%;
}

.outOfStockImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.cart-item-checkbox{
    margin-right: 20px;
}

.cart-item-details {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.cart-item-details h5 {
    margin: 0;
    font-size: 16px;
}

.cart-item-details p {
    margin: 0;
    color: #EE6F57;
    font-weight: bold;
}

.quantity-control {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.quantity-control button {
    background-color: #00334E;
    border: none;
    color: white;
    font-size: 16px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0 5px;
}

.quantity-control .quantity {
    width: 40px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}

.delete-item {
    background: none;
    border: none;
    cursor: pointer;
    color: red;
    font-size: 20px;
    margin-left: 10px;
}

.delete-item .fa-trash {
    pointer-events: none;
}

/* Checkout Footer */
.checkout-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border-top: 1px solid #ccc;
}

#cartTotal{
    font-weight: bold;
    font-size: 20px;
    color: #00334E;
}

#cart-total-amount{
    color: #00334E;
    font-weight: bold;
}

#checkout {
    background-color: #EE6F57;
    border: none;
    border-radius: 20px;
    padding: 7px 14px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

#checkout:hover {
    background-color: #d8634c;
    color: rgb(214, 212, 212);
}

.cart-sidebar {
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #333;
    padding: 10px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    z-index: 1000;
    transition: left 0.3s ease-in-out;
}

.cart-icon:active {
    color: #b35643;
}

.cart-icon {
    color: #fff;
    font-size: 20px;
}

.cart-item-count {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #EE6F57;
    color: white;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: 500;
}

.cart-item-count:active {
    background-color: #d36650;
    color: rgb(201, 198, 198);
}

/* Checkout Details Modal */
.modal-dialog {
    max-width: 600px;
    margin: 1.75rem auto;
}

.modal-content {
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.3rem;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.modal-header-checkout {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #dee2e6;
    color: white;
}

.info-header{
    font-size: 17px;
}

.checkout-details{
    padding: 0.5rem;
}

#serviceSelect{
    margin-top: 10px;
    width: 100%;
    padding: .50rem;
    border-radius: 10px;
    font-size: 15px;
}

#availedServicesList {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.service-item {
    display: flex;
    align-items: center;
    border: 1px solid #007bff;
    border-radius: 20px;
    padding: .10rem .50rem;
}

.service-item img {
    max-width: 25px;
    max-height: 25px;
}

.removeServiceButton {
    background: none;
    border: none;
    font-weight: bold;
    color: red;
    font-size: 16px;
    cursor: pointer;
}

.removeServiceButton{
    width: 20px;
}

.removeServiceButton:hover{
    color: #a5a5a5;
}

#grandTotal{
    background-color: #e9ecef;
    border-color: #dee2e6;
    padding: .75rem 1.25rem;
    text-align: right;
    font-weight: bold;
    margin-top: 10px;
}

.modal-title-checkout {
    margin: 0;
    line-height: 1.5;
    font-size: 1.25rem;
}

.modal-header-checkout .close {
    padding: 1rem;
    margin: -1rem -1rem -1rem auto;
    color: #fff;
    background-color: transparent;
    border: 0;
}

.modal-header-checkout .close span {
    font-size: 1.5rem;
}

.modal-body-checkout {
    position: relative;
    padding: 1rem;
}

.modal-footer-checkout {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem;
    border-top: 1px solid #dee2e6;
    background-color: #f1f1f1;
}

.modal-footer-checkout .btn {
    margin-left: 0.5rem;
}

.checkout-item-info {
    background-color: #e9ecef;
    border-color: #dee2e6;
    padding: .75rem 1.25rem;
    text-align: right;
}

.checkout-item-info p {
    padding: 0.5rem;
}

.customerInfo {
    border: 1px solid #dee2e6;
    padding: .75rem 1.25rem;
}

.customerInfo p{
    padding: .25rem;
}

/* TY MESSAGE*/

.ty-message {
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 25%;
    margin-right: 25%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f9fa;
}

.ty-message h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
}

.ty-message p {
    font-size: 18px;
    color: #666;
    margin-bottom: 20px;
}

.continue-shopping{
    margin-top: 20px;
    background-color: #EE6F57;
    border: none;
    border-radius: 20px;
    padding: 7px 14px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 76%;
}

.continue-shopping:hover{
    background-color: #d66e59;
    border-color: #d66e59;
    color: white;
}

/* PRODUCTS RATINGS ================================================= */

.rating-container {
    display: flex;
}

.rating-count {
    font-size: 1em;
    margin-top: 5px;
    color: #a39e9e;
}

.starRating{
    color: gold;
    font-size: 1.4em;
}

.customer-info {
    display: flex;
    align-items: center;
}

.customer-image {
    border: 3px solid #d3cdcd;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}

.reviewComment {
    border: 3px solid #d3cdcd;
    background-color: #d3cdcd;
    margin-bottom: 0;
    margin-left: 8%;
    border-radius: 50px;
    padding: .50em;
    display: inline-block;
}

.reviewParagraph {
    margin-bottom: 0;
    display: inline-block;
    width: 100%;
}

.review-date {
    margin-right: 10px;
    font-size: 0.9em;
    color: #666;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
}

.review-summary {
    margin-bottom: 20px;
}

.average-rating {
    display: flex;
    align-items: center;
    font-size: 1.5em;
}

.average-rating-value {
    font-size: 2em;
    margin-right: 10px;
}

.rating-stars {
    display: flex;
    margin-right: 10px;
}

.total-reviews {
    font-size: 20px;
    color: #666;
}

.modal-body-scrollable {
    max-height: 60vh;
    overflow-y: auto;
    padding: 20px;
}

.rating-bar {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.rating-bar-bg {
    flex-grow: 1;
    height: 10px;
    background-color: #e0e0e0;
    margin: 0 10px;
    border-radius: 5px;
    position: relative;
}

.rating-bar-fill {
    height: 100%;
    background-color: #f5c518;
    border-radius: 5px;
}

/* Modal base styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1050;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
}

.modal.fade .modal-dialog {
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
    transform: translateY(-50px);
    opacity: 0;
}

.modal.show .modal-dialog {
    transform: translateY(0);
    opacity: 1;
}

/* Modal overlay */
.modal.show::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Black background with 50% opacity */
    z-index: 1040;
}

/* Modal content styles */
.modal-dialog {
    position: relative;
    width: auto;
    max-width: 600px;
    margin: 1.75rem auto;
    z-index: 1050; /* Ensure modal content is above overlay */
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    outline: 0;
    padding: 1rem;
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #e9ecef;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    font-size: 25px;
}

.modal-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #e9ecef;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    font-size: 25px;
}

.modal-close, .btn-secondary-cart, .checkout-close{
    color: #fff;
    background-color: #6c757d;
    border: none;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    margin-left: 87%;
    cursor: pointer;
}

.modal-close:hover, .btn-secondary-cart:hover, .checkout-close:hover{
    color: #f5f5f5;
    background-color: #5b6369;
}

.btn-primary-cart, .checkout-confirm{
    color: #fff;
    background-color: #007bff;
    border: none;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    cursor: pointer;
}

.btn-primary-cart:hover, .checkout-confirm:hover{
    color: #f5f5f5;
    background-color: #036cdb;
}

.modal-title-review{
    font-size: 15px;
}

.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
}

/* Scrollable modal body */
.modal-body-scrollable {
    max-height: 60vh; /* Adjust as needed */
    overflow-y: auto;
}

/* Close button */
.close, .close-cart-modal {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.5;
    cursor: pointer;
    border: none;
    background-color: white;
}

.close:hover, .close-cart-modal:hover {
    color: #000;
    text-decoration: none;
    opacity: 0.75;
}

/* Prevent body scroll when modal is open */
body.modal-open {
    overflow: hidden;
}

/* In-animation */
.modal.fade .modal-dialog-animate {
    animation: modalFadeIn 0.3s forwards;
}

@keyframes modalFadeIn {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Out-animation */
.modal.fade .modal-dialog-animate {
    animation: modalFadeOut 0.3s forwards;
}

@keyframes modalFadeOut {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(-50px);
        opacity: 0;
    }
}

